body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(51, 32, 108);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 94%;
  background: rgb(228, 218, 232);
  border-radius: 60px;
  overflow: hidden;
}

.container img {
  transition: all .5s linear;
  width: 50%;
  border-radius: 60px;
}

.box {
  width: 24%;
  /* border: 1px solid red; */
  padding: 30px 40px;
  border-radius: 60px;
  background-color: rgba(244, 240, 245, 0.6);
}

.box .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  white-space: nowrap;
}

.box>h1 {
  line-height: 1.5;
  font-size: 50px;
}

.top a {
  color: rgb(79, 133, 226);
  border-bottom: 2px solid rgb(79, 133, 226);
  line-height: 2;
  font-weight: 700;
}

.box .loginBox>p {
  color: red;
  font-size: 10px;
}

.box .loginBox span {
  line-height: 2;
  color: rgb(123, 122, 123);
}

.box .loginBox div:nth-of-type(1) {
  white-space: nowrap;
}

.box input {
  height: 50px;
  width: 100%;
  border-width: 0;
  font-size: 20px;
  outline-color: rgba(79, 133, 226, .5);
}

.box button {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border-width: 0;
  background-color: rgb(59, 58, 59);
  font-size: 24px;
  color: #fff;
}

.box input,
.box button {
  border-radius: 6px;
}

.check {
  overflow: hidden;
  height: 0;
  transition: all .5s linear;
}

.checkShow {
  overflow: hidden;
  height: 76px;
  transition: all .5s linear;
}

#tag {
  font-size: 16px;
  font-weight: 900;
  color: red;
}

@media screen and (max-width:1000px) {
  .container {
    display: flex;
    height: auto;
    background: rgb(228, 218, 232);
    border-radius: 30px;
    overflow: hidden;
  }

  .container img {
    display: none;
  }

  .container form {
    width: 100%;
    padding: 20px 14px;
  }

  .box {
    border-radius: 0;
  }

  .box button {
    display: block;
    margin: 20px auto 0;
  }
}